.chat-input {
  display: flex;
  margin: 20px;
  position: relative;

  &__smile-btn {
    margin-right: 15px;
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: space-between;
    margin-left: 15px;
  }

  input {
    padding: 6px 11px 8px;
    font-size: 14px;
    &:focus {
      box-shadow: none;
    }
  }
}
