.home {
  padding: 30px;

  .chat {
    display: flex;
    //height: 100%;
    height: 90vh;
    background-color: #fff;
    width: 1140px;
    margin: 0 auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.04204);

    &__sidebar {
      width: 320px;
      border-right: 1px solid #f7f7f7;

      &-header {
        display: flex;
        justify-content: space-between;
        padding: 21px;
        height: 58px;
        border-bottom: 1px solid #f7f7f7;
        margin-bottom: 20px;
        align-items: center;
      }
      &-search {
        display: flex;
        justify-content: center;
        align-items: center;
        &-input{
          width: 285px;
        }
      }

      &-dialogs {
        padding-top: 20px;
        height: calc(100% - 110px);
        overflow: auto;
        .dialogs {
          &__item {
            padding: 10px 20px;
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &.active,
            &:hover {
              background-color: #f3f7ff;
            }
          }
        }
      }
    }
    &__dialog {
      flex: 1;
      position: relative;

      .ant-empty {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        border-bottom: 1px solid #f7f7f7;

        .ant-btn-circle {
          i {
            font-size: 22px;
          }
        }

        &-center {
          text-align: center;
        }

        &-username {
          display: block;
          margin-bottom: 5px;
          font-weight: 500;
        }
      }

      &-messages {
        padding-top: 20px;
        overflow: auto;
        height: calc(100% - 138px);
      }
    }
  }
}